/* 
 *
 * Links (that are not inside tweets)
 *
 */

/* NOTE: The .customizable class is added to all Twitter links automatically" */
.link:not(.customisable) {
  @apply .shadow-lg .ba-1 .b--black .bg-black .pv2 .ph3 .lh-tall .ttu .tracked .white .animate;
  border-radius: 30px;

  &:hover { @apply .b--pink .bg-pink .black }
}

.link-white {
  &:hover { @apply .b--white .bg-white .black }
}

.link-inline { 
  @apply .animate;

  border-bottom: 1px solid var(--pink);
  box-shadow: inset 0 -2px 0px 0px var(--pink);

  &:hover { box-shadow: inset 0 -12px 0px 0px var(--pink) }

  /*
    
    TODO: if I'm having multiline issues with this styling, check out these:

    1. https://codepen.io/chriscoyier/pen/ZRpZLx/
    2. https://codepen.io/shelaine/pen/zJWMNQ

  */
}