/*
 *
 * Tooltips (shows the content of the data-tooltip attribute on hover)
 *
 */

.tooltip {
  @apply .relative;

  &::after {
    @apply .db .absolute .top-0 .left-50 .transX--50 .br2 .bg-near-black .pv1 .ph2 .f7 .white .no-wrap .origin-bottom;

    content: attr(data-tooltip);
    transform: scale(0);
    transition: transform .2s ease-out;
  }

  &:hover::after { transform: scale(1) }
}